<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <customErrors mode="Off"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <appSettings>
    <add key="rabbitMqHost" value="{RabbitQ#host}"/>
    <add key="rabbitMqPort" value="{RabbitQ#port}"/>
    <add key="rabbitMqUser" value="{RabbitQ#user}"/>
    <add key="rabbitMqPassword" value="{RabbitQ#password}"/>
    <add key="rabbitMqVhost" value="{RabbitQ#vhost}"/>
    <add key="dbConnectionString" value="{mssql-2008#RabbitQDb}"/>
  </appSettings>
</configuration>